<cart-notification>
  <aside class="cart-notification-wrapper page-width">
    <div id="cart-notification" class="cart-notification focus-inset"
         data-cart
         tabindex="-1">

         <div class="cart-notification__inner">
        
          <div class="cart-notification__header" data-cart-header>
            <h2 class="cart-notification__heading caption-large">
              Your Bag
            </h2>
            {% comment %} <h2 class="cart-notification__heading caption-large">{%- render 'icon-checkmark' -%} {{ 'general.cart.item_added' | t }}</h2> {% endcomment %}
            <button type="button" class="cart-notification__close modal__close-button link link--text focus-inset" 
                    aria-label="{{ 'accessibility.close' | t }}">
              <span class="icon-close" aria-hidden="true">
                
              </span>
              <span class="icon-ring">

              </span>
            </button>
          </div>

          <div id="cart-notification-product" class="cart-notification-product"></div>

            <div class="cart-notification__footer" data-cart-footer >
              <div data-cart-notification-totals class="cart-nofication__totals">
                  <h3 class="cart-nofication__totals__subtotal">Subtotal</h3>
                  <p class="cart-nofication__totals__subtotal-value" data-cart-subtotal>
                    $100.00
                  </p>
              </div>
            <div class="cart-notification__links">
              {% comment %} <a href="{{ routes.cart_url }}" id="cart-notification-button" class="button button--secondary button--full-width"></a> {% endcomment %}
              <form action="{{ routes.cart_url }}" method="post" id="cart">
                <button class="button button--primary button--full-width" name="checkout" form="cart">{{ 'sections.cart.checkout' | t }}</button>
              </form>
              {% comment %} <button type="button" class="link button-label">{{ 'general.continue_shopping' | t }}</button> {% endcomment %}
          </div>
      </div>

      <div class="cart-notification__empty-state">
        <p>
          Your Bag is Empty
        </p>
      </div>

  </aside>

  <div class="cart-notification-overlay" data-cart-nofication-overlay>
  </div>
</cart-notification>

{% style %}
  .cart-notification {
     display: none;
  }

{% endstyle %}
