
{% comment %}
    Renders a product card

    Accepts:
    - art_shot_as_lead: {Boolean} Show the product vendor. Default: false

    Usage:
    {% render 'product-card', show_vendor: section.settings.show_vendor %}
{% endcomment %}

<div class="product-thumb {% unless product_card_product.available == true %} product-thumb--sold-out {% endunless %} {% if product_card_product.images.size > 1 %}has-more-images {% endif %}">
    <a href="{{ product_card_product.url | default: '#' }}" class="product-thumb__inner">

        <div class="product-thumb__images">
            {%if art_shot_as_lead %}
           
            {% for image in product_card_product.images %}
                {%- if forloop.index0 > 1%}
                    {%break%}
                {%endif%}
                
                {%unless image.alt contains 'swatch'%}
                 
                {%- if forloop.index0 < 2%}
                    <picture>
                        <source srcset="{{ image.src | img_url: '850x' }}"  media="(min-width: 975px)">
                        <source srcset="{{ image.src | img_url: '800x' }}"  media="(min-width:750px)">
                      <img 
                            src="{{ image.src | img_url: '450x' }}"
                            alt="{{ image.alt | escape }}"
                            class="product-thumb__image"
                            width="500"
                            height="{{ image.height }}"
                            loading="lazy"
                            role="presentation"
                        >
                        </picture>
                    {%else%}

                    <picture>
                        <source srcset="{{ image.src | img_url: '850x' }}"  media="(min-width: 975px)">
                        <source srcset="{{ image.src | img_url: '800x' }}"  media="(min-width:750px)">
                      <img 
                            src="{{ image.src | img_url: '450x' }}"
                            alt="{{ image.alt | escape }}"
                            loading="lazy"
                            class="product-thumb__image"
                            width="{{ image.width }}"
                            height="{{ image.height }}"
                            loading="lazy"
                            role="presentation"
                        >
                        </picture>                    
                {%- endif -%}
                {%endunless%}
              {% endfor %}

            {%else%}


            {% for image in product_card_product.images %}

                {%- if forloop.index0 > 1%}
                    {%break%}
                {%endif%}
                
                {%unless image.alt contains 'swatch'%}
                 
                {%- if forloop.index0 < 2%}
                    <picture>
                        <source srcset="{{ image.src | img_url: '850x' }}"  media="(min-width: 975px)">
                        <source srcset="{{ image.src | img_url: '800x' }}"  media="(min-width:750px)">
                      <img 
                            src="{{ image.src | img_url: '450x' }}"
                            class="product-thumb__image"
                            width="500"
                            height="{{ image.height }}"
                            role="presentation"
                        >
                        </picture>
                    {%else%}

                    <picture>
                        <source srcset="{{ image.src | img_url: '850x' }}"  media="(min-width: 975px)">
                        <source srcset="{{ image.src | img_url: '800x' }}"  media="(min-width:750px)">
                      <img 
                            src="{{ image.src | img_url: '450x' }}"
                            alt="{{ image.alt | escape }}"
                            loading="lazy"
                            class="product-thumb__image"
                            width="{{ image.width }}"
                            height="{{ image.height }}"
                            role="presentation"
                        >
                        </picture>                    
                {%- endif -%}
                {%endunless%}
              {% endfor %}

            {%endif%}
      </div>
      <div class="product-thumb__information">
        <div class="product-thumb__information__inner">
            <span class="product-thumb__information__title">
                {{product_card_product.title}}
            </span>
            <span class="product-thumb__information__pricing">
                {% render 'price', product: product_card_product, price_class: '' %}
            </span>
        </div>
      </div>
      {% unless product_card_product.available %} 
      <div class="product-thumb__sold-out">
        <div  class="product-thumb__sold-out__inner">
            <span  class="product-thumb__sold-out__title">
                {{'products.product.sold_out'  | t }}
            </span>
        </div>
      </div>
     {% endunless %}
    </a>
</div>