
{% comment %}
    Renders a product card

    Accepts:

    Usage:
    {% render 'product-card', show_vendor: section.settings.show_vendor %}
{% endcomment %}

<div class="product-thumb">
    <a href="{{ product_card_product.url | default: '#' }}" class="product-thumb_inner">
        <img srcset="{%- if product_card_product.media[0].width >= 165 -%}{{ product_card_product.media[0] | img_url: '165x' }} 165w,{%- endif -%}
        {%- if product_card_product.media[0].width >= 360 -%}{{ product_card_product.media[0] | img_url: '360x' }} 360w,{%- endif -%}
        {%- if product_card_product.media[0].width >= 533 -%}{{ product_card_product.media[0] | img_url: '533x' }} 533w,{%- endif -%}
        {%- if product_card_product.media[0].width >= 720 -%}{{ product_card_product.media[0] | img_url: '720x' }} 720w,{%- endif -%}
        {%- if product_card_product.media[0].width >= 940 -%}{{ product_card_product.media[0] | img_url: '940x' }} 940w,{%- endif -%}
        {%- if product_card_product.media[0].width >= 1066 -%}{{ product_card_product.media[0] | img_url: '1066x' }} 1066w{%- endif -%}"
        src="{{ product_card_product.media[0] | img_url: '533x' }}"
        sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
        alt="{{ product_card_product.media[0].alt | escape }}"
        loading="lazy"
        class="motion-reduce"
      width="{{ product_card_product.media[0].width }}"
      height="{{ product_card_product.media[0].height }}"
      >

    </a>
</div>