
{% comment %}
    Renders a product card

    Accepts:

    Usage:
    {% render 'product-card', show_vendor: section.settings.show_vendor %}
{% endcomment %}

<div class="product-thumb">
    <a href="{{ product_card_product.url | default: '#' }}" class="product-thumb__inner">
        <div class="product-thumb__images">
            <img srcset="{%- if product_card_product.media[0].width >= 165 -%}{{ product_card_product.media[0] | img_url: '165x' }} 165w,{%- endif -%}
            {%- if product_card_product.media[0].width >= 360 -%}{{ product_card_product.media[0] | img_url: '360x' }} 360w,{%- endif -%}
            {%- if product_card_product.media[0].width >= 533 -%}{{ product_card_product.media[0] | img_url: '533x' }} 533w,{%- endif -%}
            {%- if product_card_product.media[0].width >= 720 -%}{{ product_card_product.media[0] | img_url: '720x' }} 720w,{%- endif -%}
            {%- if product_card_product.media[0].width >= 940 -%}{{ product_card_product.media[0] | img_url: '940x' }} 940w,{%- endif -%}
            {%- if product_card_product.media[0].width >= 1066 -%}{{ product_card_product.media[0] | img_url: '1066x' }} 1066w{%- endif -%}"
            src="{{ product_card_product.media[0] | img_url: '533x' }}"
            sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
            alt="{{ product_card_product.media[0].alt | escape }}"
            loading="lazy"
            class="product-thumb__image product-thumb__image--primary"
        width="{{ product_card_product.media[0].width }}"
        height="{{ product_card_product.media[0].height }}"
        >
      </div>
      <div class="product-thumb__information">
        <span class="product-thumb__information__title">
            {{product_card_product.title}}
        </span>
        <span class="product-thumb__information__pricing">
            {% render 'price', product: product_card_product, price_class: '' %}
        </span>
      </div>

    </a>
</div>